$primary-color: #563d7c;


.navbar {
    background-color: $primary-color !important;
   
    img{
        width: 50px;
    }
}

.form-inline{
    width: 700px;
    display: flex;
}

.form-control{
    flex-grow: 1;
}


@media(max-width:991px){
    
    
   
    .form-inline{
        width: auto;
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        .btn{
            display: inline !important;
        }
        .form-control{
            display: inline;
            
           
        }
    }

}

@media(max-width:618px){
    .form-control{
        margin-right: 8px;
        
    }
    .form-inline{
        height: 37.986px;
    }
}